@font-face {
    font-family: "Poppins Regular";
    src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins Bold";
    src: url("./fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Jost Regular";
    src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Jost Bold";
    src: url("./fonts/Poppins-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
}

header, main {
  font-family: "Poppins";
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 0;
}

.logo {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 700;
  color: #0e0578;
  padding-left: 75px;
  text-decoration: none;
} 

.header .menu ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 60vw;
}

.header .menu ul a {
  text-decoration: none;
  font-size: 30px;
  color: #686565;
  list-style: none;
}  

/* Первая секция INTRO */

.sectionPadding {
    padding: 30px 60px 30px 60px;
} 
.sectionBottomMargin {
  margin-bottom: 300px;
}
  
  main {
    margin: 200px 0;
  }
  
  .sectionIntro {
    display: flex;
    height: 710px;
    justify-content: space-between;
  }
  
  p {
    color: #383838;
    font-size: 24px;
  }
  
  h1 {
    color: #2000e7;
    font-size: 48px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 30px;
    font-weight: 400;
    color: #2000e7;
  }
  
  #color_yellow {
    color: #f2bd00;
  }
  
  .photoORpic {
    display: flex;
    justify-content: center;
    break-inside: avoid;
  }
  
 /* Buttons sectionIntro*/

button {
    border-radius: 10px;
    border-style: none;
    box-shadow: 11px 21px 15px 6px rgba(0, 0, 0, 0.25);
    width: 246px;
    height: 72px;
    font-family: "Poppins";
    font-size: 24px;
    margin-top: 75px;
    margin-bottom: 75px;
  }
  
  .BlueBaton {
    background: #2000e7;
    color: #fff;
  }
  
  .WhiteButon {
    background: #f6f5fd;
    border: 2px solid #2000e7;
    color: #2000e7;
    margin-left: 75px;
  }

/* Вторая секция About Me */

  .aboutMe {
    background: #f5fbff;
    display: flex;
    height: 910px;
    justify-content: space-between;
    align-items: center;
    margin-top: 160px;
    padding-top: 200px;
    padding-left: 75px;
    padding-bottom: 200px;
}

  .about_me h1 {
    letter-spacing: 16.8px;
  }
  
  .about_me div {
    width: 415px;
  }
  
  .about_me p {
    color: #000;
  }
  
  .about_me button {
    margin-left: 20px;
  }
  

/* Третья секция My Projects */

.projectsSection {
  background: rgba(255, 214, 150, 0.20);
  height: 910px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.projects a {
  display: block;
  margin: 10px 70px;
}

.CenterPlace {
  text-align: center;
}

.sectionPadding {
  padding: 30px 60px 30px 60px;
}

/* Четвертая секция Contact me */

.contactMeSection {
  background: #f5fbff;
}

.formSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:170px;
}
.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
input[type=text], input[type=password] {
  border: none;
  width: 630px;
  height: 94px;
  flex-shrink: 0;
  background: #FFF;
  box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: "Poppins Regular";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 40px;
}
textarea {
  border: none;
  width: 630px;
  height: 265px;
  flex-shrink: 0;
  background: #FFF;
  box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: "Poppins Regular";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px 40px;
}

input[type=button] {
  border: none;
  cursor: pointer;
  width: 327px;
  height: 94px;
  flex-shrink: 0;
  background: #FFF;
  box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: "Poppins Regular";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px 40px;
}


/* футер  еще не доделан */

footer {
  background: #fff8ea;
  color: #000;
  font-family: "Jost Regular";
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
}

footer h3 {
  color: #000;
  font-family: "Jost Bold";
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
}

.footerMenu {
  list-style: none;
}

.footerMenu li a {
  color: #000;
  font-family: "Jost Regular";
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  padding: 20px;
  list-style: none;
  
}

.footerLinks {
  display: flex;
  padding: 30px 0 30px 0;
}


.footerLinkcolumn1 {
  margin-top: 120px;
  width: 450px;
  vertical-align: top;
  align-items: top;
}

.footerLinkcolumn2 {
  margin-top: 120px;
  width: 230px;
}

.footerLinkcolumn3 {
  margin-top: 120px;
  width: 300px;
}

.footerLinkcolumn4 {
  margin-top: 120px;
  width: 340px;
}


/* Кнопка подписаться футер */

input.footerInput {
  width: 323px;
  height: 97px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #000;
  color: #FFF;
  font-family: "Jost Regular";
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

input.footerInputSubmit {
  width: 178px;
  height: 97px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #F965FC;
  color: #FFF;
  font-family: "Jost Bold";
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  left: 240px;
  top: -97px;
  padding: 0;
}

.Subscribe {
  margin-top: 50px;
}



.copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 52px;

}

.copyrightText {
  color: #000;
  font-family: "Jost Regular";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
  margin-right: 42px;
}
.logo-container {
  width: 45px;
  height: 45px;
  display: flex;
  background-repeat: no-repeat;
  background-position: top center;
}

.logo-container a {
  display: block;
  width: 100%;
  height: 100%;
}

/* конец */
